{% extends 'base.html.twig' %}

{% block body %}


<section>
	<article id="digit">
		<div class="slider">
			<div id="slider">

					<article id="slide1" class="slide">
						<h2>Le digital au cœur de vos métiers </h2>
						<p>Donner des perspectives à vos projets professionnels</p>
					</article>

					<article class="slide">
						<ul>
							<li>
								<a href="#">Mobil-Banking</a>
								<ul>
									<li >Specialist Mobile Banking</li>
									<li >Mobile Banker</li>
									<li >Mobile Lending Manager</li>
									<li >Mobile Mortage Specialist</li>
									<li >Assisstant Digital Banking Manager - Digital Content</li>
									<li >Online &amp; Mobile Banking Campaign Manager</li>
								</ul>
							</li>
						</ul>
					</article>

					<article class="slide">
						<ul>
							<li>
								<a href="#">Banque
									<abbr title="Connected Intelligente Agile Social">C.I.A.S</abbr>
								</a>
								<ul>
									<li >Digital Compliance Assisstant / Officer</li>
									<li >Risk Manager, Electronic Trading</li>
									<li>
										<abbr title="Conseiller clientèle banque a distance">Online Advisor</abbr>
										<abbr title="Analiste crédit consommation">Credit Analysts</abbr>
									</li>
									<li >
										<abbr title="Conseiller gestion de patrimoine digitale">Digital Asset Management</abbr>
									</li>
									<li >Digital Project Manager</li>
									<li >Responsable E-Banking</li>
									<li >
										<abbr title="ingénieur financier - Framwork &amp; Digital">Financial Engineer Digital &amp; Framwork</abbr>
									</li>
									<li >Consultant Manager Digital Banque</li>
									<li >Digital Banking Officer Branch &amp; Community Banking</li>
								</ul>
							</li>
						</ul>
					</article>

			</div>
		</div>

  </article>



  <article id="since">
    <p>Depuis 2011, Alardine est spécialiste de la reconversion professionnelle de la formation et du digital dans les métiers
      Banque, Finance et Assurance</p>

    <p>Plus de 400 demandeurs d’emploi formés et accompagnés dont plus de 70% en reconversion professionnelle  dans les métiers
      de la Relation Client</p>
  </article>
</section>
{% endblock %}

{% block stylesheets %}
{% endblock %}
