/*****************************************CSS COMUN***************************************/
* {
    box-sizing: border-box;
    transition: all 0.3s ease 0;
}

h1 {
    font-family: 'Roboto Slab', serif;
}
body {
    position: relative;
}
/*************************************HEADER**********************************************/
#logo_alardine {
    width: 200px;
    height: 150px;
}

#logo-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 5%;
}

#navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.menu,
.sous-menu {
    list-style: none;
}

.menu {
    font-size: 18px;
    flex: 1;
}

#logo-button li a {
    text-decoration: none;
    color: #000;
}

#logo-button ul ul {
    margin: 0;
    padding: 0;
}

#logo-button ul ul li {
    border: 1px solid #000;
}

.sous-menu {
    display: none;
    padding-left: 0px;
}

.sous-menu a {
    font-size: 18px;
}

#lien a{
    font-size: 25px;
}

#lien {
    margin-top: 45px;
}


/*************************************INDEX**********************************************/

#digit {
    background-image: url('../img/backgroundimage.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(80, 138, 245);
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

#digit h2 {
    margin: 0 auto;
    width: 80%;
    padding-top: 120px;
    color: #fff;
    font-size: 30px;
    text-shadow: 0.1em 0.1em 0.05em #333;
    font-family: 'Roboto Slab', serif;
}

#digit p {
    margin: 0 auto;
    width: 80%;
    color: #fff;
    font-size: 15px;
    text-shadow: 0.1em 0.1em 0.05em #333;
    padding-bottom: 30px;
    font-family: 'Caudex', serif;
}

#since {
    height: 500px;
    color: #464747;
}

#since p {
    margin: 0 auto;
    width: 80%;
    padding-top: 50px;
    font-size: 15px;
    text-align: center;
    font-family: 'Caudex', serif;
}

#since p:first-child {
    padding-bottom: 50px;
    border-bottom: 1px solid #000;
}


/********************************QUI_SOMMES-NOUS********************************/

#nous cite {
    display: block;
}

#nous h2 {
    text-align: center;
    border-bottom: 1px solid #3594ba;
    margin-top: 50px;
    padding-bottom: 20px;
}

#nous {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

#vision {}

#equipe {
    display: flex;
    justify-content: space-around;
}

#equipe article {
    text-align: center;
    flex: 1;
}

#equipe img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#equipe p {
    padding: 20px;
    font-size: 14px;
}

#equipe h3 {
    font-size: 20px;
}

#equipe h4 {
    font-size: 18px;
}

#equipe i {
    font-size: 30px;
}


/************************************SLIDER***************************/

#slider h2 {
    text-align: center;
}
abbr{
    text-decoration: none;
}
.slider {
    height: 500px;
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    height: 500px;
    width: 800px;
    margin: 0;
    padding: 0;
    border: 0 solid;
    position: absolute;
	transition: all 2s ease 0s;
    left: 800px;
    visibility: hidden;
}

#slider {
    display: flex;
    position: relative;
    left: 0;
}

#slide1{
    left: 0;
    visibility: visible;
}

.job {
    color: rgb(199, 6, 6);
    font-size: 20px;
    font-family: 'Caudex', serif;
}

#slider ul ul li {
    font-size: 26px;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0.05em #000;
    list-style: none;
    text-align: left;
}

#slider li {
    margin: 0 auto;
    padding: 0px 20px 0 20px;
    list-style: none;
    text-align: center;
}

#slider ul li a {
    display: inline;
    text-decoration: none;
    font-size: 40px;
    color: rgb(231, 45, 45);
    text-shadow: 0.1em 0.1em 0.05em #333;
}

#slider abbr {
    display: inline;
}

.sous-menu li {
    background-color: #488cda;
}

.sous-menu a {
    text-decoration: none;
    color: #fff;
}


/*********************************MODAL*****************************************/

.modal label {
    display: block;
    margin: 0;
    padding-top: 10px;
}
#modal form{
    width: 50%;
}
.modal {
    background: #7ecfec;
    border-radius: 5px;
    left: 20%;
    padding: 15px;
    position: absolute;
    right: 20%;
    top: 150px;
    width: 60%;
    height: 500px;
    z-index: 1000;
    font-family: 'Josefin Sans', sans-serif;
}

.body-modal p {
    font-size: 14px;
    padding-top: 5px;
}
.body-modal{
    display: flex;
    justify-content: space-around;
}

.header-modal {
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
}
.body-modal iframe{
    margin: 0 auto;
    width: 100%;
 }
 .body-modal section a{
     display: block;
     text-align: center;
     color: #fff;  
 }
.body-modal section i, .body-modal section p{
    text-align: center;
    color: #fff; 
}
.header-modal h2 {
    margin-top: 0px;
    margin-left: 125px;
    font-family: 'Josefin Sans', sans-serif;
}

.close-modal {
    cursor: pointer;
    color: #bb1111;
}

#modalBtn {
    background-color: #5cb5db;
    border: 1px solid #3594ba;
    padding: 5px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

#addModal {
    color: #000;
    text-decoration: none;
}

#addModal:hover {
    color: #000;
}

.backG {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #7ed0ecb0;
    z-index: 800;
}


/****************************** Footer **********************************/

#relation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
}

#certificat {
    text-align: center;
    display: flex;
    flex-direction: row;
}

.logo {
    height: 50px;
    width: 50px;
}
#datadock{
    width: 100px;
}

.logo-relation {
    height: 124px;
    margin: 10px;
}

footer {
    text-align: center;
    background-color: burlywood;
}

#copyright {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    border-top: 1px solid black;
    font-size: 12px;
    background: grey;
    height: 55px;
}

#copyright > div {
    padding-top: 10px;
}

.copyright {
    flex: 1;
    color: white;
}

/*********************************PC******************************/

@media screen and (min-width:768px) {
    #digit h2 {
        font-size: 50px;
    }
    #digit p {
        font-size: 30px;
    }
    #since p {
        font-size: 30px;
    }
    /***************************************************************/
}
